@use "mixins";
@use "variables";
@use "reset";

.landing-page {
  background-image: url("/assets/negative-space-black-forest-dawn.jpg");
  background-size: cover;
  height: 100vh;
  display: flex;
  text-align: center;
  flex-direction: column;
}

header {
  display: flex;
  background-color: rgba(231, 223, 223, 0.1);

  @include mixins.desktop {
    justify-content: flex-end;
    padding: 20px;
  }
}

nav {
  align-items: center;
  justify-content: center;
  flex-direction: row;
  margin: 20px;

  a {
    @include mixins.link;
    padding: 20px;
  }
}

.text {
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 20px;
  height: 70vh;
}

main {
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.team__container {
  display: flex;
  text-align: center;
  flex-direction: column;

  @include mixins.desktop {
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: center;
    column-gap: 150px;
  }
}

//.team_about {
//justify-content: center;
//align-items: center;
//}

.team__image {
  @include mixins.image;

  @include mixins.desktop {
    height: 450px;
    width: 450px;
    margin: 20px;
  }
}

.team__info {
  @include mixins.box;

  @include mixins.desktop {
    width: 450px;
    margin: 20px;
  }
}

footer {
  background-color: black;
  color: white;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-around;

  @include mixins.desktop {
    flex-direction: row;
  }
}

.team__contact {
  padding: 20px;

  a {
    @include mixins.link;
    padding-left: 10px;
  }
}

.bi-quote {
  font-size: 35px;
  transform: rotate(180deg);
}

.bi-arrow-down-circle-fill {
  font-size: 25px;
  padding: 30px;
}

.bi-arrow-down-circle {
  color: white;
  font-size: 25px;
  padding: 30px;
}

.landing-text {
  font-size: 1.3rem;
}
