@use "mixins";
@use "variables" as v;
@use "reset";

.contact {
  background-color: v.$secondary-color;
  color: v.$primary-color;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-around;

  @include mixins.desktop {
    flex-direction: row;
  }

  &__info {
    padding: 20px 0px 5px 80px;
    font-size: 1.2em;
    a {
      @include mixins.link;
      padding-left: 10px;
    }

    @include mixins.desktop {
      font-size: 1em;
    }
  }
}
