@use "variables" as v;

@mixin desktop {
  @media screen and (min-width: v.$desktop) {
    @content;
  }
}

@mixin box {
  background-color: rgb(202, 198, 198);
  flex-flow: wrap;
  align-items: center;
  width: 250px;
  padding: 30px;
  margin: 20px;
  border-radius: 10px;
}

@mixin image {
  height: 250px;
  width: 250px;
  border-radius: 50%;
  box-shadow: (0px 5px 15px) #ccc;
}

@mixin link {
  text-decoration: none;
  color: v.$primary-color;

  &:hover {
    cursor: pointer;
    text-decoration: underline;
  }
}
