@use "mixins";
@use "variables" as v;
@use "reset";

.background {
  background-image: url("./../assets/negative-space-black-forest-dawn.jpg");
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  height: 100vh;
  text-align: center;
}

.startpage {
  display: flex;
  height: 100vh;

  &__text {
    color: v.$primary-color;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    font-size: 1em;
    padding: 60px;
  }

  &__text--small {
    font-size: 1.4em;
  }

  &__arrow {
    position: absolute;
    width: 100%;
    bottom: 2px;
    margin: 0 auto;
    a {
      color: v.$primary-color;
      size: 2em;
    }
    .bi-arrow-down-circle-fill::before {
      padding: 35px;
      font-size: 2em;
    }
  }
}

.team__heading {
  padding: 15px;
  font-size: 2em;

  @include mixins.desktop {
    font-size: 1.5em;
  }
}
